version: '3.3'

# Service = Container
services:
  # First Service
  app:
    # Container name
    container_name: recipe-app-container
    # instructions to build the container through the dockerfile
    # an image gonna be created with <name of the dir that contain the dockerfile>_<name_of_the_service> 
    build:
      context: .
      args:
        - DEV=true
    # maping the ports
    ports:
      - "8000:8000"
    # Bind mount or sync the local machine with the container two ways
    # We can use relative path
    volumes:
      - ./app:/app
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=devdb
      - DB_PASS=changeme
    # start the db service first
    depends_on:
      - db
  
  db:
    container_name: postgres-container
    image: postgres:13-alpine
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=changeme

volumes:
  dev-db-data: